<h1>Bienvenue {{ firstname }} {{ lastname }}</h1>
<p>
    Bienvenue à toi !
    Nous somme heureux de te compter parmis nous.

    Tu peux maintenant accéder à l'application en cliquant sur le lien suivant <a href="{{ loginPath }}" >Se connecter</a>
</p>
